* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace; }

body {
  background: #1F1F35;
  color: white; }

.main {
  width: 100%;
  height: 100vh; }

.logo {
  width: 100%; }
  .logo svg {
    position: fixed;
    width: 700px;
    height: 700px;
    fill: pink; }

.content {
  width: 100%; }
  .content .item-wrap {
    width: 100%; }
  .content svg {
    fill: white;
    height: 600px;
    width: 600px; }

.info {
  width: 100%;
  height: 100vh;
  position: fixed; }
  .info a {
    color: white; }
  .info p {
    font-size: .75rem;
    letter-spacing: 1px;
    line-height: 1rem; }
    .info p:nth-child(1) {
      position: absolute;
      top: 10px;
      left: 10px; }
    .info p:nth-child(2) {
      position: absolute;
      bottom: 10px;
      left: 10px; }
    .info p:nth-child(3) {
      position: absolute;
      bottom: 10px;
      right: 10px; }
    .info p:nth-child(4) {
      position: absolute;
      top: 10px;
      right: 10px; }

.fade {
  opacity: 0; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
